<%- include('partials/head') %>
  <body>
    <%- include('partials/navbar') %>
    <h1>HomePage</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis beatae
      quibusdam qui vitae architecto labore deleniti ipsam at quis explicabo
      numquam quidem corporis sit, a eaque. Temporibus unde vitae cumque?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, hic rerum
      commodi sit repudiandae ratione ipsum! Vitae, iste asperiores rem rerum
      ducimus saepe facere necessitatibus sint officia unde libero modi.
    </p>
  </body>
</html>

<!-- ejs file is used to write standard html -->
